---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<p>This page is a Blog page.</p>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
			))
		}
	</ul>
</BaseLayout>
